
<div class="admin__infor">
    <h3>Thông tin người dùng</h3>
    {{#with acc}}
            <div class="col-lg-8 col-sm-6 admin__infor--card">
                <div class="avatar__img">
                    <img src="./img/honamtu.jpg" alt="avatar">
                </div>
                <div class="avatar__content">
                    <p>{{firstname}}</p>
                    <p>{{lastname}}</p>
                </div>
                <div class="avatar__detail">
                    <span class="detail__item">
                        <p>{{class}}</p>    
                    </span>
                    <span class="detail__item">
                        <p>{{specialized}}</p>    
                    </span>
                    <span class="detail__item">
                        <p>{{address}}</p>    
                    </span>
                    <span class="detail__item">
                        <p>{{potision}}</p>    
                    </span>
                </div>
            </div>
    {{/with}}
</div>

