{{#with acc}}
<div class="user__dashboard">
   <div class="user__hight">
     <div class="header__action">
        <div class="header__logo">
                <img src="/img/logo2.jpg" alt="It-logo1">
            </div>
            <div class="header__clubname">
                <p class="header__clubname--text">IT-SUPPORTER .</p>
            </div>
        </div>
    <div class="user__action">
        <a class="user__nav user__main" href="/auth/admin/dashboard/{{_id}}">
            <i class="fa-solid fa-house"></i>
            <p>Trang chủ</p>
        </a>
    </div>
    <div class="user__action">
        <a class="user__nav" href="/auth/admin/listMember/{{_id}}">
            <i class="fa-solid fa-list"></i>
            <p>Quản lý thành viên</p>
        </a>
    </div>
    <div class="user__action">
        <a class="user__nav" href="/auth/admin/techSupport/techs">
             <i class="fa-solid fa-laptop"></i>
             <p>Tech Support</p>
        </a>
    </div>
    <div class="user__action">
        <a class="user__nav"  href="/auth/admin/create/{{_id}}">
            <i class="fa-solid fa-plus"></i>
            <p >Thêm thành viên</p>
        </a>
    </div>
     <div class="user__action">
        <a class="user__nav"  href="/auth/admin/mission/{{_id}}">
            <i class="fa-solid fa-person"></i>
            <p>Hoạt động</p>
        </a>
    </div>
    </div>
    <div class="user__bottom">
            <div class="user__action">
            <a class="user__nav"  href="/auth/admin/contact/{{_id}}">
                <i class="fa-solid fa-phone"></i>
                <p >Liên hệ</p>
            </a>
        </div>
        <div class="user__action">
            <a class="user__nav"  href="/auth/admin/logout/{{_id}}">
                <i class="fa-solid fa-right-from-bracket"></i>
                <p >Đăng xuất</p>
            </a>
        </div>
    </div>
   




</div>







{{/with}}